body{
    background-image: url(bkimage.jpg);
    height: 500px;
    font-family: sans-serif;
    color: darkturquoise;
}
.main{
    font-family: sans-serif;
    margin: 10px;
    width: 1330px;
    color: darkturquoise;
    position: static;
    text-align: center;
    padding: 5px;
    
}
p{
    font-family: sans-serif;
    color: darkturquoise;
    padding: 30px;
    text-align: center;

}
.head{
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    color: darkturquoise;
    
}


.center{
    
    color: darkturquoise;
    font-family: sans-serif;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
table,td{
    border: 3px solid darkturquoise;
    border-collapse: collapse;
    
}
h2{
    font-family: sans-serif;
    color: darkturquoise;
    text-align: center;
    background-color: cadetblue;
    
}
a{
    text-decoration: none;
}